# OPENAI
OPENAI_API_KEY=""

# ANTHROPIC
ANTHROPIC_API_KEY=""

# TAVILY
TAVILY_API_KEY=""

# AWS
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_DEFAULT_REGION=""

# DATABASE
DATABASE_URL="" 

# RAPID API
RAPID_API_KEY=""
RAPID_API_HOST=""

# GROQ
GROQ_API_KEY=""

# UPSTASH
UPSTASH_REDIS_REST_TOKEN=""
UPSTASH_REDIS_REST_URL=""

# LANGCHAIN
LANGCHAIN_TRACING_V2=""
LANGCHAIN_ENDPOINT=""
LANGCHAIN_PROJECT=""
LANGCHAIN_API_KEY=""
